.login_form {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_inputs {
  background-color: #FFFFFF;
  border: 1px solid rgb(209,213,219);
  border-radius: .375rem;
  box-sizing: border-box;
  color: #111827;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .5rem 1rem;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow:
  rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
  rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.login_inputs:focus {
  background-color: rgb(246, 248, 250);
  outline: 2px solid transparent;
  outline-offset: 2px;
}

#login_btn {
  float: right;
}
